<contint-body show-page="0">
	<top-body show-txt="书架"></top-body>
	<div class="m-pad20">
		<div class="m_list">
			<ul class="m_list_ul">
				<li class="m-bod-b">
					<a href="info/213">
						<p class="ft_l"><img src="../../images/180.jpg"/></p>
						<div class="ft_l m-pad20">
							<h2 class="m-fs26 m-col000">圣墟</h2>
							<div class="m-fs20 m-marT10 m-col999">
								<span>辰东</span>|<span>200万字</span>
							</div>
							<div class="m-fs20 m-col999">
								第一百五十章传道
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</contint-body>
