<top-body show-txt="" type="1"></top-body>
<header class="m-pad20 m_info_header" style="background-image: url(../../images/book_bg.jpg);">
	<p class="ft_l"><img src="../../images/180.jpg"/></p>
	<div class="ft_l m-pad30 m-colfff">
		<h2 class="m-fs30">圣墟</h2>
		<p class="m-fs20 m-lin4 m-marT20">作者：辰东</p>
		<p class="m-fs20 m-lin4">类型：玄幻</p>
		<p class="m-fs20 m-lin4"><span>100万字</span><span class="m-pad20">|</span><span>连载</span></p>
	</div>
</header>
<section class="m-bgf5f5f5 m-overhidd m_info_section">
	<div class="m-bgfff m-marT20 m-pad20">
		<div class="m-lin6 m-fs28">简介</div>
		<div class="m-fs20 m-col666 m-padB20">
			简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊简介正文啊
		</div>
	</div>
	<div class="m-lin8 m-overhidd m-bgfff m-marT20 m-pad20 iconfont m-more1">
		<a href="#/directory/234" class="m-a-dis">
			<span class="ft_l m-fs28 m-col000">最新章节</span>
			<span class="ft_r m-col666">第一百五十章</span>
		</a>
	</div>
</section>
<footer class="dis-box m-fs20 m-bod-t m-cen iconfont m_info_footer">
	<div class="box-flex">
		<p class="m-fs44">&#xe640;</p>
		<span>删除</span>
	</div>
	<div class="box-flex m-bg0a99fa m-colfff m-lin10">
		<span class="m-fs36">阅读</span>
	</div>
	<div class="box-flex">
		<p class="m-fs44">&#xe805;</p>
		<span>加入书架</span>
	</div>
</footer>